* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.top-nav {
    background-color: black;
    width: 600px;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}
main {
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.space {
    height: 60px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    height: 600px;
    width: 600px;
    display: flex;
}
.right {
    display: block;
    flex: 1;
}
.left {
    display: block;
    flex: 3;
}
img {
    width: 80px;
}
.container1 {
    margin-right: 30px;
    border: 2px solid black;
    height: 250px;
    width: 170px;
    display: grid;
    justify-items: center;
    align-items: center;
}
.container2 {
    margin-bottom: 20px;
    border: 2px solid black;
    height: 140px;
    width: 400px;
    display: grid;
    align-items: center;
    padding: 20px;
}
.top-info {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 360px;
    align-items: center;
    margin-bottom: 15px;
}
.contador {
    display: flex;
    align-items: center;
}
#likes, #likes1, #likes2 {
    font-size: 18px;
}
.info {
    height: 70px;
    width: 310px;
    font-size: 17px;
}
button {
    background-color: #ffd966;
    box-shadow: 3px 3px black;
    border: 2px solid black;
    height: 35px;
    width: 60px;
    font-size: 18px;
    margin-left: 20px;
}